<div *ngIf="this.usuarioservices.usuarioLogueado.tipo_usuario == 0 then menu">

</div>

<div *ngIf="this.usuarioservices.usuarioLogueado.tipo_usuario == 1 then menuPaciente">

</div>

<div *ngIf="this.usuarioservices.usuarioLogueado.tipo_usuario == 2 then menuMedico">

</div>

<div *ngIf="this.usuarioservices.usuarioLogueado.tipo_usuario == 3 then menuAdministrador">

</div>


<ng-template #menu>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TPClinica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal'">Principal</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/registro'">Registro</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="'/principal/login'">Institucional</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<ng-template #menuPaciente>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TPClinica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/nuevo_turno'">Nuevo Turno</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal'">Historial</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal'">Mis turnos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Mi perfil</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" *ngIf="estaLogueado" (click)="logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template >



<ng-template #menuMedico>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TPClinica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal'">Aceptar turnos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Modificar horarios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Ver reportes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Ver pacientes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Calendario</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Mi perfil</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" *ngIf="estaLogueado" (click)="logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<ng-template #menuAdministrador>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TPClinica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/nuevo_turno'">Nuevo Turno</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/administrar_medicos'">Administrar medicos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Ver reportes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Turnos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal/login'">Mi perfil</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" *ngIf="estaLogueado" (click)="logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>



