<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto de perfil</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">Foto actual</div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Detalles de mi perfil</div>
                <div class="card-body">
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="displayUsername">Usuario</label>
                        <p class="form-control-plaintext" id="displayUsername">{{ decode.data.usuario }}</p>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="displayFirstName">Nombre</label>
                            <p class="form-control-plaintext" id="displayFirstName">{{ decode.data.nombre }}</p>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="displayLastName">Apellido</label>
                            <p class="form-control-plaintext" id="displayLastName">{{ decode.data.apellido }}</p>
                        </div>
                    </div>
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="displayEmailAddress">Correo</label>
                        <p class="form-control-plaintext" id="displayEmailAddress">{{ decode.data.mail }}</p>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="displayBirthday">Cumpleaños</label>
                            <p class="form-control-plaintext" id="displayBirthday">{{ decode.data.nacimiento | date: 'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
