<h2 mat-dialog-title class="dialog-title">Calificar atención</h2>
<div mat-dialog-content class="dialog-content">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Calificación de 1 al 5</mat-label>
    <input matInput type="number" [(ngModel)]="calificacion" min="0" max="5" step="0.5" required>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Reseña</mat-label>
    <textarea matInput [(ngModel)]="comentario"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
  <button mat-button class="confirm-button" (click)="onConfirm()" [disabled]="!isValid()">Confirmar</button>
</div>





