/* loading.component.css */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Borde claro */
    border-top: 8px solid #28a745; /* Color de la animación */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Animación de giro */
  }
  
  /* Animación de giro */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
