<div class="institucional-container">
    <h1>Nuestra Historia</h1>
    <p>
      Clínica AP fue fundada en el año 1990 con el firme propósito de brindar atención médica de calidad y accesible a la comunidad. Desde sus humildes comienzos, la clínica ha crecido exponencialmente, pasando de ser un pequeño centro de atención primaria a convertirse en una de las instituciones de salud más respetadas y avanzadas de la región.
    </p>
    <p>
      A lo largo de las décadas, Clínica AP ha mantenido su compromiso con la innovación y la excelencia médica. En 1995, se amplió para incluir un nuevo pabellón quirúrgico y un departamento especializado en diagnóstico por imágenes. Este crecimiento permitió a la clínica atender una mayor cantidad de pacientes y ofrecer una gama más amplia de servicios médicos especializados.
    </p>
    <p>
      En el año 2000, la clínica adoptó un enfoque vanguardista al integrar la tecnología en sus procesos. Esto incluyó la implementación de sistemas de historia clínica electrónica y la incorporación de equipos de diagnóstico de última generación. Este paso no solo mejoró la eficiencia operativa, sino que también aseguró que los pacientes recibieran una atención más precisa y personalizada.
    </p>
    <p>
      Durante los últimos 20 años, Clínica AP ha seguido expandiéndose, abriendo nuevas sedes en diferentes ciudades y regiones, permitiendo así un mayor acceso a la atención de salud de calidad. Hoy en día, cuenta con más de 500 profesionales de la salud altamente capacitados que trabajan en equipo para garantizar el bienestar de cada paciente.
    </p>
    <p>
      Nuestra misión siempre ha sido brindar atención integral con un enfoque humano, priorizando las necesidades de nuestros pacientes y sus familias. En Clínica AP, nos esforzamos por mantenernos a la vanguardia en medicina, investigación y tecnología, sin olvidar nunca el valor del trato personal y humano que nos caracteriza.
    </p>
    <p>
      Con una visión de futuro, seguimos trabajando para expandir nuestros servicios, mejorar nuestras instalaciones y formar alianzas estratégicas que nos permitan ofrecer una atención cada vez mejor y más accesible. Nuestro objetivo es seguir siendo líderes en el sector salud, comprometidos con el bienestar de nuestras comunidades y con un firme compromiso hacia la excelencia.
    </p>
  </div>
  
