<!--
<div class="container-fluid">
    <h1>Login</h1>

    <br>

    <div class="row">
        <input class="offset-3 col-3" type="email" [(ngModel)]="usuario.nombre" name="email" placeholder="Email" required="required">
    </div>

    <div class="row">
        <input class="offset-3 col-3" type="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña" required="required">
    </div>

    

    <div class="row">
        <input class="offset-3 col-6 btn btn-primary" type="button" (click)="login()" value="Ingresar">
        <a class="offset-3 col-6 btn btn-primary" [routerLink]="'/principal/registro'" >Registrar</a> >
    </div>
    
</div>

<br>

-->


<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/imagenes/LogoClinica.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
  
  
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" class="form-control form-control-lg"
                placeholder="Ingresar un mail valido" [(ngModel)]="usuario.usuario" name="usuario" required="required" />
              <label class="form-label" for="form3Example3">Tu correo</label>
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Ingresar Contraseña" [(ngModel)]="usuario.password" name="password"  required="required" />
              <label class="form-label" for="form3Example4">Contraseña</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Recordarme
                </label>
              </div>
              <a href="#!" class="text-body">Olvidaste tu contraseña?</a>
            </div>
            <!-- Botones Ingresar/Registro-->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()" value="Ingresar" >Ingresar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Necesita Registrarse? <a [routerLink]="'/principal/registro'"
                  class="link-danger">Ingrese aqui</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>

    <app-loading *ngIf="loading"></app-loading>

    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2024. All rights reserved. Matias Pachame
      </div>
      <!-- Copyright -->
  
    </div>
  </section>
