@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


body{
    background-color: #a3b18a;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilo global para el diálogo */
.dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.dialog-content {
    padding: 20px;
}

.dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
  
