<!-- <div class="container-fluid">
    <h1>Registro Pacientes</h1>

    <br>

    <div class="row">
        <p class="offset-3 col-3">Usuario</p>
        <input class="col-3" type="email" [(ngModel)]="usuario.nombre" name="email" placeholder="Nombre" required="required">
    </div>

    <div class="row">
        <p class="offset-3 col-3">Contraseña</p>
        <input class="col-3" type="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña" required="required">
    </div>

    <div class="row">
        <p class="offset-3 col-3">Repita Contraseña</p>
        <input class="col-3" type="password" [(ngModel)]="password2" name="password" placeholder="Contraseña" required="required">
    </div>

    <div class="row">
        <p class="offset-3 col-3">Mail</p>
        <input class="col-3" type="email" [(ngModel)]="usuario.nombre" name="email" placeholder="Email" required="required">
    </div>

    <div class="row" *ngIf="usuario.password == password2 && !validarExiste()">
        <input class="offset-3 col-6 btn btn-primary" type="button" (click)="registrar()" value="Registrar">
        
    </div>
    
</div> -->


<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registrar Paciente</h2>

              <form>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" [(ngModel)]="medico.nombre" name="nombe" required="required"/>
                  <label class="form-label" for="form3Example1cg">Nombre</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text"class="form-control form-control-lg" [(ngModel)]="medico.apellido" name="apellido" required="required"/>
                    <label class="form-label" for="form3Example1cg">Apellido</label>
                  </div>


                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form3Example2cg" class="form-control form-control-lg" [(ngModel)]="medico.mail" name="mail" required="required"/>
                  <label class="form-label">Mail</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="date" class="form-control form-control-lg" [(ngModel)]="medico.nacimiento" name="nacimiento" required="required"/>
                  <label class="form-label">Fecha de Nacimiento</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" [(ngModel)]="medico.usuario" name="usuario"required="required"/>
                    <label class="form-label" for="form3Example3cg">Usuario</label>
                  </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" [(ngModel)]="medico.password" name="password"required="required"/>
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example5cdg" class="form-control form-control-lg" [(ngModel)]="password2" name="password2"required="required" />
                  <label class="form-label" for="form3Example4cdg">Repita su contraseña</label>
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> -->

                <div class="d-flex justify-content-center" *ngIf="passwordCoinciden();">
                  <input  type="button" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="registrar()" value="Registrar">
                </div>

                <p class="text-center text-muted mt-5 mb-0">Eres medico de la institucion? <a [routerLink]="'/principal/registro'"
                    class="fw-bold text-body"><u>Registrate aqui</u></a></p>    


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
